.container {
  background-color: #ffffff;
  margin-top: -70px;
  margin-bottom: -100px;
  height: 100vh;
}

.content {
  padding: 200px;
  padding-right: 550px;
}

.title {
  font-weight: lighter;
}

.paragraph {
  margin-bottom: 25px;
}

.linkTitle:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: -74px;
    margin-bottom: -269px;
  }
}