.containerAbout {
  padding: 118px;
  margin-top: -70px;
  margin-bottom: -92px;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 120px;
}

.content {
  flex: 1;
  margin: 95px 0;
}

.paragraph {
  margin-bottom: 25px;
}

.linkTitle:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

/* ------- Resume section ------- */

.subTitle {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-bottom: 25px;
}

.moreProjects {
  padding-bottom: 85px;
}

.bar {
  display: flex;
  height: 1px;
  margin: 10px -20px;
  background-color: #242321;
}

.contentProject,
.contentTitle {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 13px;
}

.contentYear,
.contentRole,
.contentClient,
.contentArrow,
.contentSocial,
.contentNoAvail {
  flex: 25%;
}

.contentArrow {
  text-align: right;
}

.button:hover,
.contentSocial:hover,
.contentClient:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.contentDesc {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  flex: 25%;
}

/* ------- Project section ------- */

.desc {
  padding-top: 25px;
}

.brief {
  padding: 85px 0;
}

@media screen and (max-width: 768px) {
  .containerAbout {
    margin-top: -73px;
    margin-bottom: -320px;
  }
}
