.container {
  padding: 118px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  margin-top: -70px;
  margin-bottom: -92px;
}

.pageTitle {
  padding-bottom: 50px;
}

.heading {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: -1px;
  font-style: italic;
}

/* ------- Form section ------- */

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inputSmall,
.inputLarge {
  height: 50px;
  border: none;
  border-bottom: 1px solid #242321;
  margin-bottom: 15px;
  outline: none;
  padding-bottom: 7px;
}

.textArea {
  height: 192px;
  border: none;
  border-bottom: 1px solid #242321;
  max-width: 100%;
  min-width: 100%;
  min-height: 110px;
  max-height: 110px;
  outline: none;
  color: #000;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .15px;
  flex: 25%;
}

.inputSmall::placeholder,
.inputLarge::placeholder,
.textArea::placeholder {
  color: black;

}

.button {
  padding-top:15px;
  display: flex;
  align-items: left;
}

.button:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: -73px;
    margin-bottom: -320px;
  }
  .form {
    width: 100%;
  }

  .inputSmall:first-child {
    margin: 0;
  }
}