.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  overflow: hidden;
  padding-top: 70px;
  font-size: 3rem;
  background-color: #B7E0E6;
  margin-top: -70px;
  margin-bottom: -100px;
  height: 100vh;
}

.title {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-style: italic;
}

.form {
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.inputSmall {
  flex: 1;
  height: 50px;
  padding-left: 10px;
}

.inputSmall:first-child {
  margin-right: 5px;
}

.inputLarge {
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.textArea {
  width: 100%;
  padding-left: 10px;
}

.button:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: -74px;
    margin-bottom: -269px;
  }

  .form {
    width: 100%;
  }

  .inputSmall:first-child {
    margin: 0;
  }
}