.container {
  height: 100px;
  border-top: 1px solid #E2E8F0;
  display: flex;
  justify-content: space-around;
  padding: 23px;
  align-items: center;
  line-height: 1em;
}

.title {
  padding: 0px;
  width: max-content;
}

.linkTitle {
  text-decoration: underline;
}

.link {
  display: flex;
  align-items: center;
}

.columnLeft {
  flex: 1;
}

.columnRight {
  flex: 1;
}

.socials {
  text-align: right;
}

.navLink:hover {
  color: #482ff7;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    flex-direction: column-reverse;
  }

  .socials,
  .copyright {
    text-align: center;
  }
}