/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1em;
  padding: 0px 20px;
  width: 100%;
}

.linkTitle {
  text-decoration: underline;
}

.link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columnLeft {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.columnRight {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.socials {
  text-align: right;
}

.navLink:hover {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 768px) {
  .container {
    border-top: 1px solid #242321;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .socials,
  .copyright {
    margin: 0 80px;
    text-align: center;
  }

  .socials {
    margin: 40px 0px;
  }

  .copyright {
    margin-bottom: 40px;
  }
}