@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@font-face {
  font-family: MaisonNeue-Book;
  src: url('../fonts//MaisonNeue-Book.woff') format('woff'),
    url('../fonts/MaisonNeue-Book.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body * {
  font-family: MaisonNeue-Book;
  /* font-family: 'Playfair Display', serif;
  font-style: none;
  font-style: italic; */
  color: inherit;
  background-color: inherit;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
}