/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.background {
  margin-bottom: -92px;
  margin-top: -70px;
  background-image: url('../public/bakgrundsbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .background {
    margin-bottom: -320px;
    margin-top: -73px;
  }
}