.background {
  background-image: url('../public/bakgrundsbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
  margin-bottom: -92px;
}

@media only screen and (max-width: 768px) {
  .background {
    margin-top: -73px;
    margin-bottom: -320px;
  }
}
