.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.hamburger {
  display: none;
}

.navDesc {
  margin-right: 102px;
}

.navbarButton {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #242321;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-left: 5rem;
}

.navLink:hover {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

@media only screen and (max-width: 768px) {
  .navMenu {
    position: fixed;
    left: -100%;
    top: 3.35rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navDesc {
    display: none;
  }

  .navMenu.active {
    left: 0;
  }

  .navItem {
    margin: 30px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}