/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
  height: 100vh;
  margin-bottom: -92px;
  margin-top: -70px;
  padding: 210px 0 0 118px;  
}

.title {
  font-size: 200px;
}

.link a {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 3px;
}

.link a:hover {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 3px;
}