/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.containerProjects {
  margin-bottom: -92px;
  margin-top: -70px;
  padding: 118px;
}

.pageTitle {
  padding: 50px 0;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-style: italic;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: -1px;
}

/* ------- Image section ------- */

.columnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.col {
  font-size: 17px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.col:hover {
  display: block;
  opacity: 0.2;
}

.imgTitle {
  margin-left: 80px;
  margin-top: -62px;
}

/* ------- More project section ------- */

.subTitle {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-style: italic;
  padding-bottom: 25px;
}

.moreProjects {
  padding: 135px 0;
}

.bar {
  background-color: #242321;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  margin: 10px -20px;
}

.contentProject,
.contentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 13px;
}

.contentYear,
.contentRole,
.contentClient,
.contentArrow {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.contentArrow {
  text-align: right;
}

.contentProject:hover {
  cursor: pointer;
  opacity: 0.2;
}

.contentDesc {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  font-size: 10px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

/* ------- Projects id section ------- */

.heading2 {
  text-transform: uppercase;
}

.pills {
  margin-left: -5px;
}

.pillOutline {
  margin-right: 5px;
}

.pillText {
  font-size: 17px;
  margin-left: 12px;
  margin-top: 6px;
  position: absolute;
}

.pillText2 {
  font-size: 17px;
  margin-left: 17px;
  margin-top: 6px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .containerProjects {
    margin-bottom: -320px;
    margin-top: -73px;
  }
}