.container {
  padding: 118px;
}

.pageTitle {
  padding-bottom: 50px;
}

.heading,
.italic {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: -1px;
}

/* ------- Image section ------- */

.columnContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* ------- More project section ------- */

.subTitle {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-bottom: 25px;
}

.moreProjects {
  padding-top: 135px;
}

.bar {
  display: flex;
  height: 1px;
  margin: 10px -20px;
  background-color: #242321;
}

.contentProject,
.contentTitle {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 13px;
}

.contentYear,
.contentRole,
.contentClient,
.contentArrow {
  flex: 25%;
}

.contentArrow {
  text-align: right;
}

.contentDesc {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .15px;
  flex: 25%;
}

@media screen and (max-width: 768px) {

}