.containerProjects {
  padding: 118px;
  margin-top: -70px;
  margin-bottom: -92px;
}

.pageTitle {
  padding: 50px 0;
}

.heading {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: -1px;
  font-style: italic;
}

/* ------- Image section ------- */

.columnContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  font-size: 17px;
  transition: .3s ease-in-out;
}

.col:hover {
  display: block;
  opacity: .2;
}

.imgTitle {
  margin-top: -62px;
  margin-left: 80px;
}

/* ------- More project section ------- */

.subTitle {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-bottom: 25px;
}

.moreProjects {
  padding: 135px 0;
}

.bar {
  display: flex;
  height: 1px;
  margin: 10px -20px;
  background-color: #242321;
}

.contentProject,
.contentTitle {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 13px;
}

.contentYear,
.contentRole,
.contentClient,
.contentArrow {
  flex: 25%;
}

.contentArrow {
  text-align: right;
}

.contentProject:hover {
  opacity: .2;
  cursor: pointer;
}

.contentDesc {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .15px;
  flex: 25%;
}

/* ------- Projects id section ------- */

.heading2 {
  text-transform: uppercase;
}

.pills {
  margin-left: -5px;
}

.pillOutline {
  margin-right: 5px;
}

.pillText {
  position: absolute;
  margin-left: 12px;
  margin-top: 6px;
  font-size: 17px;
}

.pillText2 {
  position: absolute;
  margin-left: 17px;
  margin-top: 6px;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .containerProjects {
    margin-top: -73px;
    margin-bottom: -320px;
  }
}